<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","layout":{"type":"constrained"}} -->
<main id="main-content" class="wp-block-group">
  <!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
  <article class="wp-block-group">
    <!-- wp:post-title {"level":1,"fontSize":"xl"} /-->
    <!-- wp:post-date /-->
    <!-- wp:post-featured-image /-->
    <!-- wp:post-content /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
